@import url('https://fonts.cdnfonts.com/css/grand-cru');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,300&family=Arizonia&display=swap');
@import url('./_reset.css');

:root {
/*colors*/
--turq-00: #001E21;
--turq-01: #003136;
--turq-02: #025B64;
--turq-03: #047580;
--turq-04: #148E9A;
--turq-05: #2EA0AB;
--turq-06: #56B7C0;
--turq-07: #88D3DA;
--turq-09: #BAE7EB;
--turq-10: #E2FAFC;

--font-title: 'Grand Cru', serif;
--font-detail: 'Arizonia', cursive;
--font-main: 'Alegreya Sans', sans-serif;
}

body {
  transition: background-color 0.5s ease;
}

#light {
  background-color: var(--turq-10);
  color: var(--turq-00);
}

#dark {
  background-color: var(--turq-00);
  color: var(--turq-10);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.special-info {
  display: flex;
  padding: 4px 0;
  align-content: center;
  justify-content: center;
}

#light .special-info {
  background-color: var(--turq-07);
}

#dark .special-info {
  background-color: var(--turq-02);
}

.special-info p {
  letter-spacing: 2.5px;
  font-family: var(--font-main);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

#light .special-info p {
  color: var(--turq-00);
}

#dark .special-info p {
  color: var(--turq-10);
}

.header {
  display: flex;
  padding: 20px 0;
  font-family: var(--font-title);
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

#light .header {
  color: var(--turq-00);
}

#dark .header {
  color: var(--turq-10);
}

.header h1 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 10px;
}

#light .header a {
  color: var(--turq-00);
}

#dark .header a {
  color: var(--turq-10);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  display: none;
}

.header-menu {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3.36px;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 10px;
}

.header-menu a {
  position: relative;
}

.header-menu a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

#dark .header-menu a::before {
  background-color: var(--turq-03);
}

#light .header-menu a::before {
  background-color: var(--turq-07);
}

.header-menu a:hover::before {
  bottom: 0;
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
}

.switch input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--turq-07);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  display: none;
}

#light .slider-image {
  position: absolute;
  top: -14px;
  left: -12px;
  width: 29px;
  height: 60px;
  background-image: url('../img/toggle-button-light.svg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color 0.5s ease;
}

#dark .slider-image {
  position: absolute;
  top: -14px;
  left: 43px;
  width: 33px;
  height: 60px;
  background-image: url('../img/toggle-button-dark.svg'); 
  background-repeat: no-repeat;
  transition: background-color 0.5s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--turq-05);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.burger-menu-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

@media only screen and (max-width: 550px) {
  .luella-logo {
    margin-left: 8px;
  }
  .header-menu {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 105px;
      left: 0;
      width: 100%;
      z-index: 1; 
      overflow-y: auto; 
      transition: transform 0.3s ease; 
      transform: translateY(-100%); 
      visibility: hidden;
      margin: 0;
      padding: 0;
  }

  #light .header-menu {
    background-color: var(--turq-10);
  }

  #dark .header-menu {
    background-color: var(--turq-00);
  }


  .header-menu.show {
    display: flex;
    gap: 0;
    margin: 0;
    transform: translateY(0);
    visibility: visible;
  }

  .header-menu li {
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  .burger-menu {
      display: block;
      font-size: 30px;
      margin-right: 20px;
  }

  #light .burger-menu {
    color: var(--turq-00);
  }

  #dark .burger-menu {
    color: var(--turq-10);
  }
  
}

@media only screen and (max-width: 380px) {
  .main-bg {
    height: 334px;
  }
}

.main {
  display: flex;
}

.main-bg {
  height: 447px;
  position: relative;
  top: 190px;
}

#light .main-bg {
  background: url('../img/pattern-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#dark .main-bg {
  background: url('../img/pattern-main-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main h2 {
  font-family: var(--font-detail);
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 6px;
  position: absolute;
  top: -50px;
  z-index: 999;
  margin-left: 10px;
  text-shadow: 4px 4px 5px var(--turq-09);
}

#light .main h2 {
  text-shadow: 4px 4px 5px var(--turq-09);
}

#dark .main h2 {
  text-shadow: 4px 4px 5px var(--turq-01);
}

.img-main {
  position: absolute;
  top: -190px;
  right: 40px;
  box-shadow: 4px 4px 10px var(--turq-01);
}

@media only screen and (max-width: 620px) {
  .main-img-container {
    display: flex;
  }
  .img-main {
    width: 70%;
    right: 10;
  }
}

@media only screen and (max-width: 550px) { 
  .main-bg {
    top: 50px;
  }

  .img-main {
    width: 80%;
    top: -55px;
  }
  .main h2 {
    display: none;
  }
}

.separador {
  padding: 300px 0 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample-videos {
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
  margin-bottom: 120px;
}

.sample-video-item iframe {
  width: 380px; 
  height: 234px;
}

.sns-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px 80px 10px;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.sns-icons-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.sns-icons-link:hover, .sns-icons-link:focus, .sns-icons-link:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.paralax-spf {
  background: url('../img/photo-paralax.jpg') no-repeat;
  height: 642px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
}

.emb-container {
  padding-top: 201px;
}

.embed-iframe {
  width: 100%;
  height: 200px;
}

@media only screen and (max-width: 960px) {
  .emb-container {
    width: 800px;
  }
} 

@media only screen and (max-width: 840px) {
  .sample-videos {
    gap: 40px;
    margin-bottom: 80px;
  }

  .sample-video-item iframe {
    width: 300px; 
    height: 185px;
  }

  .emb-container {
    width: 600px;
  }
}

@media only screen and (max-width: 760px) {
  .sample-videos {
    gap: 20px;
    margin-bottom: 60px;
  }

  .sample-video-item iframe {
    width: 250px; 
    height: 153.5px;
  }

  .sns-icons {
    margin: 0 10px 40px 10px;
  }

  .emb-container {
    width: 550px;
  }
}

@media only screen and (max-width: 550px) {
  .separador {
    display: none;
  }

  .sample-videos {
    gap: 0px;
    flex-direction: column;
    align-items: center;
  }

  .sample-video-item iframe {
    width: 380px; 
    height: 234px;
    margin-bottom: 10px;
  }

  .emb-container {
    width: 350px;
    padding-top: 120px;
  }

  .paralax-spf {
    background: url('../img/photo-paralax.jpg') no-repeat;
    height: 642px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
  }
}

@media only screen and (max-width: 380px) {
  .sample-video-item iframe {
    width: 250px; 
    height: 153.5px;
  }

  .emb-container {
    width: 280px;
  }
}

.section-title {
  font-family: var(--font-title);
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 80px;
}

.title-who {
  text-align: end;
  margin-bottom: 40px;
}

#who {
  padding: 25px;
}

.who {
  display: flex;
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  gap: 40px;
  align-items: center;
}

.who-text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.who-text img {
  max-width: 100%;
  margin-top: 30px;
}

@media only screen and (max-width: 960px) {
  .who {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .section-title {
    margin-top: 40px;
  }
  
  .title-who {
    margin-left: 25px;
  }

  .who {
    font-size: 16px;
    line-height: 22px;
    gap: 12px;
  }
}

@media only screen and (max-width: 670px) {
  .title-who {
    font-size: 40px;
    letter-spacing: 8px;
  }

  .who-img {
    max-width: 225px;
  }
}

@media only screen and (max-width: 525px) {
  .who {
    flex-direction: column;
  }

  .who-img {
    border-radius: 50%;
    border: var(--turq-02) solid 5px;
  }
}

.disco-bg {
  padding: 20px 0 40px 0;
}

#light .disco-bg {
  background: url('../img/pattern-disco.jpg');
}

#dark .disco-bg {
  background: url('../img/pattern-disco-dark.jpg');
}

.disco-title {
  margin: 40px 0;
  white-space: nowrap;
}

.disco {
  display: flex;
  flex-direction: column;
}

.disco ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr)); 
  gap: 20px; 
  justify-items: end;
}

.disco li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.disco-left-item {
  flex-direction: row-reverse;
}

.disco-item-title {
  font-family: var(--font-detail);
  font-size: 30px;
  line-height: 36px;
  margin: 8px;
}

.align-title-right, .disco-info {
  text-align: end;
}


.disco-info span {
  font-family: var(--font-main);
  letter-spacing: 3.36px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  padding: 10px;
  text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
  .disco-bg {
    padding: 20px 10px 40px 10px;
  }
}

@media only screen and (max-width: 740px) {
  .disco ul {
    grid-template-columns: 1fr;
  }

  .section-title.disco-title {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 7px;
  }

  .disco li {
    width: 100%; 
  }
}

@media only screen and (max-width: 440px) {
  .section-title.disco-title {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 6px;
  }

  .disco-info span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 380px) {
  .section-title.disco-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 7px;
  }
}

@media only screen and (max-width: 320px) {
  .section-title.disco-title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
  }
} 

.events-header {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.events-item {
  font-family: var(--font-main);
  font-size: 20px;
  line-height: 26px;
  position: relative;
  max-width: 400px;
  max-height: 300px;
  width: calc(50% - 30px); 
  margin: 0 15px 20px 0; 
  box-sizing: border-box;
  color: var(--turq-00);
  background-color: var(--turq-09);
  padding: 22px 30px 450px 30px;
  border-radius: 20px;

}

#light .events-item {
  box-shadow: 4px 4px 10px var(--turq-01);
}

#dark .events-item {
  box-shadow: 4px 4px 10px var(--turq-09);
}

.events-item:nth-child(2n) {
  margin-right: 0;
}

.row-2 {
  margin-top: 40px;
}

.event-date {
  margin: 0 0 8px 32px;
}

.event-adress {
  margin: 0 0 20px 32px;
}

.event-date::before {
  content: '';
  height: 38px;
  width: 38px;
  background: url('../img/events-calendar.svg');
  position: absolute;
  left: 20px;
  top: 18px;
}

.event-adress::before {
  content: '';
  height: 32px;
  width: 32px;
  background: url('../img/events-location.svg');
  position: absolute;
  left: 25px;
  top: 64px;
}

.events-link {
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden; 
}

.events-img {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  height: 300px; 
  border: 2px solid var(--turq-05);
  border-radius: 20px;
  filter: sepia(100%); 
  transition: filter 0.8s ease;
}

.events-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1;
  transform: translateZ(-1px) scale(1.2);
}

.events-img.item1::before {
  background-image: url('../img/flyer1_1.jpg');
}

.events-img.item2::before {
  background-image: url('../img/flyer2.jpg');
}

.events-img.item3::before {
  background-image: url('../img/flyer3_1.jpg');
}

.events-img:hover {
  filter: none; 
}

@media only screen and (max-width: 960px) {
  #events {
    padding: 0px 20px 20px 20px;
  }

  .events-container {
    justify-content: space-evenly;
  }

  @media only screen and (max-width: 760px) {
    .events-item {
      min-height: 100px;
      padding: 12px 20px 450px 20px;
    }
    .event-date, .event-adress {
      margin: 10px 0 0 44px;
    }

    .event-adress {
      padding-bottom: 10px;
    }
  }
  @media only screen and (max-width: 565px) {
    .events-header img {
      display: none;
    }
  }

  @media only screen and (max-width: 550px) {
    .events-container {
      flex-direction: column;
      align-items: center;
    }

    .events-item {
      width: 100%;
    }
    
    .events-header {
      padding: 30px 0;
    }

    .events-header h2 {
      margin-top: 20px;
    }
  }
}

.contact-bg {
  background-color: var(--turq-02);
  color: var(--turq-09);
  padding-top: 40px;
}

.contact-title {
  margin: 20px 0 40px 0;
}

.contact-info {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 32px;
}

.sns-contact {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 320px;
  justify-content: space-evenly;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.sns-contact a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.sns-contact a:hover, .sns-contact a:focus, .sns-contact a:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}




.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  min-width: 550px;
}

.col-2 {
  grid-column: span 2 ;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
  color: var(--turq-06);
  font-size: 20px;
  line-height: 1.5;
  background: var(--turq-01);
  font-weight: 700;
  border-radius: 20px;
  border: var(--turq-07) solid 2px;
  padding: 12px 0 12px 20px;
  width: 100%;
  box-sizing: border-box;
}
.contact-form input[type='text']::placeholder,
.contact-form input[type='email']::placeholder,
.contact-form textarea::placeholder {
  font-family: var(--font-main);
  color: var(--turq-06);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

.contact-form input[type='text']:focus,
.contact-form input[type='email']:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--turq-07);
  background-color: var(--turq-00);
  box-shadow: 0 0 0 2px var(--turq-10);
}

.contact-form button {
  display: block;
  width: 200px;
  background-color: var(--turq-01);
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  cursor: pointer;
  color: var(--turq-07);
  border: var(--turq-07) solid 2px;
  padding: 12px 0;
  grid-row: 4; /* Linha 4 */
  grid-column: 2; /* Coluna 2 */
  box-shadow: 8px 8px 0 -4px  var(--turq-00),
              8px 8px 0 0 var(--turq-02);
  transition: .3s;
  &:hover {
    box-shadow: 6px 6px 0 -4px  var(--turq-00),
                6px 6px 0 0 var(--turq-02);
  }
}

.footer {
  padding: 20px;
  background-color: var(--turq-02);
  text-align: center;
}

.footer p {
  color: var(--turq-10);
  font-size: 12px;
  line-height: 1.5;
  font-family: var(--font-main);
  font-weight: 300;
  margin-bottom: 15px;
}

.footer a {
  color: var(--turq-07); 
}

.footer a:hover {
  color: var(--turq-10); 
}

@media only screen and (max-width: 960px) {
  .contact-bg {
    padding: 24px;
  }
}

@media only screen and (max-width: 850px) {
  .contact-info {
    gap: 50px;
  }

  .sns-contact {
    gap: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .contact-form {
    min-width: 300px;
  }
}

@media only screen and (max-width: 510px) {
  .contact-info {
    flex-direction: column-reverse;
  }

  .contact-title {
    margin: 10px 0 20px 0;
  }
}

@media only screen and (max-width: 340px) {
  .contact-form {
    min-width: 280px;
  }

  .contact-title {
    font-size: 30px;
    line-height: 1.8;
    letter-spacing: 7px;
  }
}
